#sec2{
  background-image: linear-gradient(120deg, #fad0c4 0%, #ffd1ff 100%);
}
#sec2 .inner{
  flex-direction: column;
}
#sec2 .inner h1 img{
  width: 400px;
}
.gage_wrap{
  margin-top: 50px;
  width: 500px;
}

.gage_wrap ul{
  display: flex;
}

.gage_wrap ul li{
  width: 25%;
  text-align: center;
}

.gage_wrap ul li .gage{
  width: 15px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.384);
  margin: auto;
  position: relative;
  padding: 5px;
}

.gage_wrap ul li .gage_in{
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 0%;
  background-color: white;
}

.gage_title{
  color:white;
  margin-top: 20px;
}