@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
#sec3{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  font-family: 'Dancing Script', cursive;
}

#sec3 .inner h1{
  display: flex;
  letter-spacing: -3px;
  color:#fff;
  font-size:100px;
  transform: translateX(-100px);
}

#sec3 .inner h1 span{
  opacity: 0;
  
}

#sec3 h1 span:nth-child(5){
  margin-right: 50px;
}

.sec3_svg{
  fill:#667eea;
  stroke: none;
  position: absolute;
  bottom:0;
  z-index: 0;
}